.header-container{
    background-color: #292929;
    color: #fff;
    height: 140px;
}

.header-container .header{
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    font-size: 1.25rem;
}

.header-box{
    border: 1px solid #fff;
    width: 193px;
    height: 60px;   
}
.header-text {
    text-align: center;
    padding-top: 0.6rem;
}

@media screen and (max-width:900px) {
    .header{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:900px) {
    .header-container{
        height: 67px;
    }
    .header-container .header{
        padding-top: 0.7rem;
        font-size: 1rem;
    }

    .header-text {
        text-align: center;
        padding-top: 0.3rem;
    }

    .header-box{
        border: 1px solid #fff;
        width: 108px;
        height: 33.58px;   
    }
}